<!DOCTYPE html>

<head>
    <%= require("../includes/header.html").default %>

    <style>
        body {
            background: #8e78a8;
            background: linear-gradient(to right, #8e78a8 0%, #92a4db 100%);
            color: #fff;
        }
    </style>

    <title>/dev/ass - Присоединиться</title>
</head>

<body>
    <%= require("../includes/nav.html").default %>

    <main>
        <div class="header">Присоединиться</div>
        <div class="info">
            <div class="info-comment">// У нас лампово</div>
            <p>Общаемся мы в основном в Matrix.</p>
            <p>Для того чтобы зайти в наше пространство вы можете использовать свой существующий аккаунт на любом домашнем сервере.</p>
            <p>После этого войдите в <a href="https://matrix.to/#/#devass-entry:inex.rocks">проходную комнату</a> и подайте там заявку. Если ваш клиент не поддерживает пространства, после входа в пространство вы можете использовать <a href="/rooms.html">список наших комнат</a>.</p>
            <p><s>Если у вас старое устройство (или вы хотите ещё больше ламповости), вы можете зайти на наш IRC сервер. Просто введите <a href="https://irc.devass.su">irc.devass.su</a> в свой клиент (или зайдите в веб клиент по этому же адресу).</s></p><br />
            <span class="info-comment">// Временно не работает</span>
        </div>
    </main>

    <%= require("../includes/footer.html").default %>
</body>
