<!DOCTYPE html>

<head>
    <%= require("../includes/header.html").default %>

    <style>
        body {
            background: #8e78a8;
            background: linear-gradient(to right, #8e78a8 0%, #92a4db 100%);
            color: #fff;
        }
    </style>

    <title>/dev/ass - Присоединиться</title>
</head>

<body>
    <%= require("../includes/nav.html").default %>

    <main>
        <div class="header">Присоединиться</div>
        <div class="info">
            <div class="info-comment">// У нас лампово</div>
            <p>Общаемся мы в основном на собственном домашнем сервере Matrix.</p>
            <p>Для того чтобы зайти в наше пространство вы можете использовать свой существующий аккаунт на любом другом домашнем сервере или зарегистрироваться на нашем (используйте <a href="https://chat.devass.su">веб клиент</a> или введите в свой клиент devass.su).</p>
            <p>После этого войдите в наше <a href="https://matrix.to/#/#devass:devass.su">пространство</a> (<a href="https://chat.devass.su/#/room/#devass:devass.su">ссылка на него в веб клиенте</a>). Если ваш клиент не поддерживает пространства, вы можете использовать <a href="/rooms.html">список наших комнат</a>.</p>
            <p>Также пока что у нас остался <a href="https://discord.com/invite/sRQfVrF">старый Discord сервер</a> с мостом в Matrix. Вы можете зайти на него, но учтите что скоро он будет закрыт.</p>
            <p>Если у вас старое устройство (или вы хотите ещё больше ламповости), вы можете зайти на наш IRC сервер. Просто введите <a href="https://irc.devass.su">irc.devass.su</a> в свой клиент (или зайдите в веб клиент по этому же адресу).</p>
        </div>
    </main>

    <%= require("../includes/footer.html").default %>
</body>