<!DOCTYPE html>

<head>
    <%= require("../includes/header.html").default %>

    <style>
        body {
            background: #8e78a8;
            background: linear-gradient(to right, #8e78a8 0%, #92a4db 100%);
            color: #fff;
        }
    </style>

    <title>/dev/ass - Список комнат</title>
</head>

<body>
    <%= require("../includes/nav.html").default %>

    <main>
        <div class="header">Список комнат</div>
        <div class="info">
            <div class="info-comment">// Если ваш клиент Matrix не поддерживает пространства, вы можете воспользоватся этим списком</div>
            <ul>
                <li><a href="https://matrix.to/#/#devass-main:ohai.su">/dev/ass/main</li>
                <li><a href="https://matrix.to/#/#devass-news:ohai.su">/dev/ass/news</a></li>
                <li><a href="https://matrix.to/#/#devass-rules:ohai.su">/dev/ass/rules</a></li>
                <li><a href="https://matrix.to/#/#devass-bragging:ohai.su">/dev/ass/bragging</a></li>
                <li><a href="https://matrix.to/#/#devass-voting:ohai.su">/dev/ass/voting</a></li>
            </ul>
        </div>
    </main>

    <%= require("../includes/footer.html").default %>
</body>
